<md-toolbar color="primary">
    <span>Animating Faces</span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
</md-toolbar>

<div class="grid">
    <md-card>
        <!--ANIMATION AFFECTS HERE-->
        <img md-card-image src="../assets/images/face1.svg" [@anim1]="pose">
    </md-card>
    <md-card-actions class="buttons">
        <!--ANIMATION TRIGGERED HERE-->
        <button md-button (click)="anim1()">Anim1</button>
        <button md-button >Anim2</button>
    </md-card-actions>

    <md-card>
        <!--ANIMATION AFFECTS HERE-->
        <img md-card-image src="../assets/images/face1.svg" [@anim1]="state">
    </md-card>
    <md-card-actions class="buttons">
        <!--ANIMATION TRIGGERED HERE-->
        <button md-button (click)="anim1()">Anim1</button>
        <button md-button >Anim2</button>
    </md-card-actions>
</div>


