<md-toolbar color="primary">

    <span>TOOLBAR</span>
    
    <span class="example-spacer"></span>

    <button md-button [mdMenuTriggerFor]="appMenu">
        <md-icon class="example-icon">more_vert</md-icon>
    </button>
    
    <md-menu #appMenu="mdMenu">
        <button md-menu-item><md-icon class="example-icon">help</md-icon></button>
    </md-menu>
</md-toolbar>

<md-card class="example-card" *ngFor="let myResult of ( myResults? myResults.slice(0,10): [] ); let i = index"> 
    <img md-card-image src="{{ myResult.url }}">
        <md-card-header>
            <md-card-title>{{ myResult.title }}</md-card-title>
        </md-card-header>
</md-card>