.fill-space {
  flex: 1 1 auto;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: Space-around;
  align-items: stretch;
  margin: 100px auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: Space-around;
}